body
{
    background-repeat: no-repeat;
    background-color: rgb(80,80,80);
}

.calque
{
    background-image: url("doft_new.jpg");
}

#left_margin
{
    margin-left: 181px;
    min-width: 1510px;
    max-width: 1510px;
}

#top_box
{
    background: rgb(145, 145, 145);
    margin-left: auto;
    margin-right: auto;
    width: 1420px;
    margin-top: 18px;
    height: 137px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 000000;
}

#doft_img
{
    margin-top: 10px;
    margin-left: 10px;
    height: 110px
}

#secret_box
{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 30px;
}

#reload_img
{
    float: right;
    height: 20px;
}

#close_img
{
    float: right;
    margin-top: 77px;
    height: 20px;
}

#loupe_img
{
    float: right;
    margin-right: -10px;
    margin-top: 10px;
    width: 256px;
}

#left_box
{
  margin-top: 33px;
  background: rgb(145, 145, 145);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 000000;
  height: 425px;
  width: 140px;
  float: left;
  margin-left: 30px;
  margin-right: auto;
}

#left_secret_box
{
  border-radius: 10px;
  height: 425px;
  width: 140px;
  float: left;
  margin-top: 1px;
  margin-left: 0px;
  margin-right: auto;
}


.icons
{
  width: 50%;
  display: block;
}

.arrow
{
  margin-left: 32px;
}

.hand
{
  margin-left: 32px;
  margin-top: 10px;
}

.eye
{
  margin-left: 27px;
  margin-top: 5px;
}

.tool
{
  margin-left: 32px;
  margin-top: 5px;
}

.chat
{
  margin-left: 32px;
  margin-top: 10px;
  height: 16%;
}

.red_frame
{
  border: 5px solid red;
  border-radius: 5px;
}

#middle_box
{
  background: rgb(145, 145, 145);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 000000;
  margin-left: auto;
  margin-right: auto;
  height: 582px;
  width: 1020px;
  border-radius: 10px;
  float: left;
  margin-left: 30px
}

#cluster
{
  width: 1000px;
  height: 562px;
  margin: 10px;
}

#right_box
{
  background: rgb(145, 145, 145);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 000000;
  height: 425px;
  width: 140px;
  float: left;
  margin-left: 30px;
  margin-right: auto;
}

.book
{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.towel
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#wall
{
  background-image: url("./resources/brick.jpg");
  width: 120px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-repeat: repeat;
}

#green_box
{
  margin-top: 526px;
  position:absolute;
  background: rgb(140, 253, 142);
  height: 170px;
  width: 520px;
  margin-left: 189px;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 000000;
  left: 0px;
  display: block;
}

p
{
  position: relative;
  top: 16px;
  left: 10px;
  display: inline;
  padding: 5px 0px 0px 0px;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 20px;
}

strong
{
    position: relative;
    display: inline;
    font-size: 34px;
    font-weight: lighter;
    font-family: Georgia, serif;
}

i {
    position: relative;
    top: -2px;
    left: 10px;
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.red_wave
{
    position: relative;
    top: 16px;
    left: 10px;
    display: inline;
    font-family: verdana, sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    text-shadow: 7px 4px 4px rgba(255,0,0,0.6);
}

.points
{
  position:relative;
  left: 114px;
  letter-spacing: 1px;
  top: -2px
}

form
{
    margin-top: 86px;
    margin-left: 13px;
}

#form_margin
{
    position: relative;
    top: 1px;
    left: -1px;
    display: inline;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-shadow: 7px 4px 4px rgba(255,0,0,0.6);
}

#form_shadow
{
    box-shadow: 0px 0px 0px 000000;
    height: 9%;
}

#input_format
{
  margin-left: 4px;
  border: 1px outset;
  border-style: solid;
  border-color: rgb(167, 166, 162);
  border-radius: 0px;
  background-color: rgb(236, 236, 236);
  font-family: arial, serif;
  font-size: 12px;
  letter-spacing: 1px;
  height: 12%;
}
